<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/" text null></ion-back-button>
    </ion-buttons>
    <ion-img style="text-align:center" src="assets/logo/logoN.png"></ion-img>
    <ion-buttons slot="end">
      <ion-icon name="log-out-outline" size="large" (click)=" logOut()">     </ion-icon>
      <ion-icon name="cart-outline"    size="large" (click)=" goToCarrito()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>