<app-header></app-header>

<ion-content class="ion-padding">
  <ion-content class="ion-padding">
    <ion-img src="assets/major/shopping-gift-wrap.jpg"></ion-img>
    <p>
      ¡En nombre de B.Woman Canarias, queremos agradecerte inmensamente por la confianza
      en nuestros productos! Esperamos que estés súper contento con tu compra,
      tal como lo estamos nosotros. ¡No solo eso, esperamos que hagas un buen uso de tus productos
      y que el mismo supere todas tus expectativas! En breve llegará su pedido a su domicilio.
    </p>
  </ion-content>
  <ion-button (click)="goToMenu()" expand="full"> Seguir comprando</ion-button>
</ion-content>